/* Variables */

$color-one: #dcdde1;
$color-two: #7f8fa6;
$color-three: #487eb0;
$font-family: 'Open Sans Condensed', sans-serif;
$transition: all 1s;

/* Global */

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-family;
    color: $color-one;
}

.container {
    max-width: 2000px; 
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    left: 50%;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}
    
    /* Navigation */
    
.navigation {
    background: $color-three;
    padding-bottom: 12px;
    padding-top: 12px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

 .navigation ul li.menu { 
    display: inline-block;
    margin-left: 36px;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: white;  
}

.navigation a:hover {
    color: $color-two;
    display: block;
}

.navigation ul ul { 
    background: white;
    display: block;
    margin-bottom: 12px;
    display: none;
    position: absolute; 
}

.navigation li:hover ul {
    display: block;
    text-align: center;
    position: absolute;
}
    
.navigation ul ul a {
    color: black;
    display: block;
    padding: 0 24px;
}

.nawigation ul ul li {
    left: 50%;
    transform: translateX (-50%);
    padding-top: 12px;
}
    
    /*Splash*/
    
header {
   background: $color-three;
   color: $color-one;
   min-height: 500px;
   display: flex;
}

.splash-inner {
    margin: auto;
    max-width: 70%;
}

h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 200;
    line-height: 1.2;
}

h2 {
    margin: 24px 0;
    font-size: 16px;
    font-weight: 400;
}

.page-title span {
    font-weight: 700;
    font-style: italic; 
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: $font-family;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
}

.btn:hover {
    background-position: 0 100%;
    color: white;
}

.btn-one {
    border-color: $color-one;
    color: white;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-one:hover {
    transition: $transition;
    color: $color-three;
}

/*section Our services*/

h3 {
    font-size: 48px;
    margin: 0 0 72px 0;
    color: black;
}

.row-first, .row-second, .row-third {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.box-first, .box-second, .box-third {
    flex: 0 0 33.333%;
    position: relative;
    height: 300px;
}

.number {
    font-size: 144px;
    font-weight: bold;
    opacity: 0.2;
    line-height: 1;
    position: absolute;
    color: blue;
}

.box-first .title, .box-second .title, .box-third .title {
   font-size: 24px;
   margin: 0 0 12px 0;
   position: absolute;
   top: 5px;
   color: black;
}

.content {
    position: absolute;
    top: 30px;
    color: black;
}

p.subtitle {
    font-weight: 700;
}

.btn-two {
    border-color: $color-three;
    color: $color-three;
    background-image: linear-gradient(90deg, $color-three 50%, transparent 50%);
}


.btn-two:hover {
    transition: $transition;
    color: white;
}

/*section Our work*/

.boxour {
    flex: 0 0 50%;
    display: flex;
    min-height: 300px;
    color: black;
    position: relative;
    justify-content: space-between;
    margin-bottom: 96px;
}

.image {
    position: absolute;
    width: 50%;
    height: 100%; 
    left: 0;
    max-width: 250px;
    z-index: -50;
}


.image::after {
    content: "";
    display: block;
    opacity: 0.3;
    left: 20px;
    top: 20px;
    background: grey;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
}
    
.image img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.description {
    padding: 36px  0px 36px 55% ;
    text-align: left;
    margin-left: 10px;
}

.title-box {
    font-size: 20px;
    bottom: 100px;
}

.btn-three {
    border: none;
    margin: 36px 0;
    padding: 0;
    text-align: left;
    color: $color-three;
}

.btn-three:hover {
    color: red;
}

/*contacts*/

section.contact {
    background: $color-three;
}

.section-title {
    color: white;
}

form.contact {
    flex: 200;
    padding-right: 96px;
}

div.adress {
    flex: 100;  
}

h2.myadress {
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin: 5px;
}

p.myadress {
    color: white;
    font-size: 18px;
    margin: 5px;
}


input {
    margin: 5px 0px;
    background: $color-three;  
    border: none;
    width: 100%;
    outline: none;
}

textarea {
    margin: 50px 0;
    width: 100%;
    background: $color-three;
    border: none; 
    outline: none;
}

.line {
    border-bottom: solid white 5px;
    display: flex;
}

.line p{
    min-width: 20%;
}

::placeholder {
    color: white;
}

.btn-four {
    border-color: $color-one;
    color: white;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
    width: 20vw ;
}

.btn-four:hover {
    transition: $transition;
    color: $color-three;
}

/*footer*/

.page-footer {
    position: relative;    
}

.icons {
    list-style-type: none;
    text-align: center;
}
.icons i {
    font-size: 30px;
    background: $color-three;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
}

.media {
    font-size: 0;
    display: inline;
    transition: all 1s;
}

.media i:hover {
    transform: scale(1.2);
}

/* Media */

@media (max-width: 767px) {

.row-first, .row-second, .row-third {
    flex-direction: column;
    }
.box-first, .box-second, .box-third {
        flex: 0 0 auto
}

.description {
    padding: 20px  0px;
}

.image {
   position: relative; 
   width: 100%; 
}

.boxour {
    height: 150px; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    }
.adress {
    margin-top: 50px;
    margin-right: none;
    }  
    
    form.contact {
    padding: 0px;
    }

.section {
    padding-top: 20px;
    padding-bottom: 20px;
    }
    
.btn-three {
    margin: 5px 0;
    }
    
h3 {
    margin: 0 0 10px 0;
    }
}


    